.*.aux
.*.d
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.glob
*.ml.d
*.ml4.d
*.mli.d
*.mllib.d
*.mlpack.d
*.native
*.o
*.v.d
*.vio
*.vo
*.vok
*.vos
.coq-native/
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache
.DS_Store
*.log
*.aux
*.out
*.synctex.gz
*.thc
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.cut

*.lp
*.lpo
*~

_build
.merlin

.vscode

CoqSrc.mk
CoqSrc.mk.conf